@page "/edittask/{id:int}"
@using TaskManager.Shared;

@inject HttpClient Http
@inject NavigationManager Nav

<h3>Edit Task</h3>

@if (!ready)
{
    <p><em>Loading...</em></p>
}
else
{
    @* Write your code here *@
  

    <div>@error</div>
}

@code {
    [Parameter] public int id { get; set; }

    private bool ready;
    private string error;
    private TaskItem TaskItem =new TaskItem();

    protected override async Task OnInitializedAsync()
    {
        @* Write your code here *@ 
        ready = true;
    }

    private async Task HandleValidSubmit()
    {
        @* Write your code here *@ 
       
    }
}
